.header {
	background-image: url('/images/header/top-background.png');
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 150px;

	box-shadow: 0 5px 10px -2px rgba(#000, .1);

	&__wrapper {
		@include main-width($mainWidth);	
	}
}


.logo-menu {
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#carousel {
	@include main-width($mainWidth);
	position: relative;
	z-index: 0;
}

.aside {
	@include main-width($mainWidth);	
}

.content {
	@include main-width($mainWidth);
	min-height: 300px;
}

.bottom-address {
	padding-top: 20px;
	border-top: dashed 1px #d3d3d3;
	margin-bottom: 30px;
}

.footer__container {
	@include main-width($mainWidth);
}

@media (max-width: 980px) {
	.header {
		min-width: $mainWidth;

		&__wrapper {
			box-sizing: border-box;
			padding: 0 20px;
		}
	}

	#carousel {
		min-width: $mainWidth;
		box-sizing: border-box;
		padding: 0 20px;
	}

	.content {
		box-sizing: border-box;
		padding: 0 20px;
		min-width: $mainWidth;
	}

	.aside {
		box-sizing: border-box;
		padding: 0 20px;
		min-width: $mainWidth;
	}

	#footer {
		min-width: $mainWidth;
	}
}