.home__row {
	@include row(100%, 'space-between');
	margin-bottom: 30px;
}

.home__column {
	@include column(32%);
	background-color: #fff;
	position: relative;
	padding: 15px;
	box-sizing: border-box;
	-js-display: flex;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&:before {
		content: "";
		background: transparent url('/images/content/product-bottom-shadow.jpg') center bottom no-repeat;
		width: 100%;
		height: 24px;
		position: absolute;
		bottom: -22px;
		z-index: -1;
	}

	h3 {
		color: #3a3a3a;
		font-family: Arimo, Arial, sans-serif;
		font-size: 21px;
		text-align: center;
		font-weight: normal;
		position: relative;
		margin-bottom: 25px;
		&:after {
			content: "";
			background: transparent url('/images/content/product-separator.jpg') center bottom no-repeat;
			background-size: contain;
			width: 100%;
			height: 4px;
			position: absolute;
			bottom: -15px;
			left: 0;
		}
	}

	p {
		color: #757575;
		text-align: center;
		font-size: 13px;
		font-family: Arial, sans-serif, Verdana;
		line-height: 20px;
	}

	.product-image {
		margin-right: 15px;
		img {
			height: auto;
			max-width: 160px;
			width: 100%;
		}
	}

	.product-description {
		flex: 0 1 55%;
	}
}

.bottom-banner {
	width: 647px;
	margin: 50px auto 40px;
	text-align: center;
	position: relative;
	&:before {
		content: "";
		background-color: transparent;
		height: 10px;
		width: 90%;
		margin: 0 5%;
		border-radius: 0 0 50% 50%;
		box-shadow: 0 5px 10px rgba(#000, .5);
		position: absolute;
		bottom: 5px;
		left: 0;
		z-index: -1;
	}
	img {
		max-width: 647px;
		height: auto;
		width: 100%;
	}
}