.heading {
	background: url('/images/content/bg-heading.jpg') repeat-x;
	box-shadow: 0 2px 0 #fff, 0 5px 0 #bd2921;
	color: #fff;
	font-family: 'Arimo', Arial, Geneva;
	font-size: 27px;
	height: 60px;
	letter-spacing: 2px;
	line-height: 60px;
	margin-bottom: 20px;
	text-align: center;
}