.phone-mail {
	color: #696969;
	text-align: center;
	margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-blue-icon {
	background: transparent url('/images/icons/phone-blue.png') center center no-repeat;
	height: 40px;
	width: 45px;
}

.phone-number {
	margin-right: 30px;
}

.mail-blue-icon {
	background: transparent url('/images/icons/mail-blue.png') center center no-repeat;
	height: 40px;
	width: 45px;
	margin-right: 5px;
}